.container {
    display: flex;
   /* align-items: center;*/
    /*justify-content: center;*/
    text-wrap: wrap;
    margin-bottom: 1em;
    margin-top: -1660px;
    border-radius: 50%;
    background: #2574fc31;
    padding: 20px;
    width: 90%;
    box-shadow: 0px 15px 15px rgba(10, 10, 10, 100); 
    border-radius: 20px;
}
.image-computing {
    margin-right: 20em;
    margin-left: 4em;
    /*margin-top: 2em;*/
   /* margin-bottom: 2.5em;*/
   margin-top: 40px;
   margin-bottom: 40px;
   box-shadow: 0px 15px 15px rgba(10, 10, 10, 100); 
   width: 45%;
   
   
}
.sobre_nos {
    font-size: 1.4em;
    margin-left: 26em;
    margin-right: 0.1em;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #fff;
    
    
}