@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo para o cabeçalho */
html {
    font-family: "Poppins", sans-serif, Basis-bold, Arial;
    min-height: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.poppins-thin {
    font-family: Poppins, sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    background: rgb(36, 48, 48);
    background: linear-gradient(90deg, rgba(36, 48, 48, 1) 0%, rgba(70, 103, 101, 1) 35%, rgba(135, 169, 173, 1) 100%);
    background: rgb(36, 48, 48);
    background: linear-gradient(90deg, rgba(36, 48, 48, 1) 0%, rgba(70, 103, 101, 1) 35%, rgba(135, 169, 173, 1) 100%);
}

header {
    background-color: #252F33;
    /* Cor de fundo do cabeçalho */
    color: #fff;
    /* Cor do texto do cabeçalho */
    padding: 20px;
    /* Espaçamento interno do cabeçalho */
    margin-bottom: 1em;
}

/* Estilo para o título da empresa */
h1 {
    font-size: 26px;
    text-transform: capitalize;
}

/*Formatação do cabeçario*/
.cabecario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.botoes_nav {
    text-decoration: none;
    color: #fff;
    margin-right: 0.4em;
}

.botoes_nav:hover {
    color: #ffcc00;
}

.botoes_nav.active {
    transform: translateY(2px);
    color: #ffcc00;
    /* Cor mais clara */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    flex: 1;
    padding: 20px;
}

.section-title {
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.corpo {
    margin-left: 10%;
}

.title {
    font-size: x-large;
    margin-bottom: 3rem;
}

.section-title,
.title {
    font-family: Basis-bold;
    line-height: 1.5rem;
    color: #000;
    text-align: inherit;
    font-weight: bold;
    display: block;
}

.corpo {
    margin-left: 10%;
    margin-right: 10%;
}

.texto {
    margin-bottom: 2rem;
}


.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    background-color: #252F33;
    color: #fff;
    padding: 20px;
    margin-top: 1em;
}