/* Estilo para o cabeçalho */
html {
    font-family: Arial, Helvetica, sans-serif, Basis-bold;
}

header {
    background-color: #2b2828;
    /* Cor de fundo do cabeçalho */
    color: #fff;
    /* Cor do texto do cabeçalho */
    padding: 20px;
    /* Espaçamento interno do cabeçalho */
    margin-bottom: 1em;
}

/* Estilo para o título da empresa */
h1 {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}

/*Formatação do cabeçario*/
.cabecario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.botoes_nav {
    text-decoration: none;
    color: #fff;
    margin-right: 0.5em;
}

.botoes_nav:hover{
    color: #2575fc;
}

.corpo {
    margin-left: 2%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    margin-bottom: 1em;
}

.section-title {
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.title {
    font-size: x-large;
    margin-bottom: 3rem;
}

.section-title, .title {
    font-family: Basis-bold;
    line-height: 1.5rem;
    color: #000;
    text-align: inherit;
    font-weight: bold;
    display: block;    
}

.texto {
    margin-bottom: 2rem;
}

.sobre_nos {
    font-size: 1.5em;
    text-decoration: solid;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img{
    display: flex;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    background-color: #2b2828;
    color: #fff;
    padding: 20px;
    margin-top: 1em;
<<<<<<< HEAD
}

.botão_solucao {
    display: flex;
    background-color: #3798d8;
    /* Cor de fundo */
    border: none;
    /* Sem borda */
    color: white;
    /* Cor do texto */
    padding: 30px 48px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    text-decoration: none;
    /* Sem sublinhado */
    font-size: 18px;
    /* Tamanho da fonte */
    margin: 4px 2px;
    /* Margens */
    cursor: pointer;
    /* Cursor de mãozinha */
    border-radius: 12px;
    /* Bordas arredondadas */
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    /* Gradiente */
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s ease, transform 0.2s ease;
    /* Transições suaves */
}

.botão_solucao:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    /* Inversão do gradiente */
}

.botão_solucao:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

.botão_solucao:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
=======
>>>>>>> 42635395b276450858f764f601f88d00e87a8b47
}